.idea
venv
src
temp/

# These are docker volumes whose content should not be under VCS
analysis_data/*
shakemaps/*
shakemaps-extracted/*
floodmaps/*
ashmaps/*
web/*
inasafe-src/*
ssh-config/*
etc-ssh-config/*
shakemaps-bnpb/*
shakemaps-corrected/*
shakemaps-corrected-extracted/*
pycharm-helpers

# Ignore everything except the these files / subdirs in these dirs:
!analysis_data/README.txt
!shakemaps/README.txt
!ashmaps/README.txt
!shakemaps-extracted/README.txt
!shakemaps-corrected/README.txt
!shakemaps-corrected-extracted/README.txt
!floodmaps/README.txt
!ssh-config/README.txt
!etc-ssh-config/README.txt
!etc-ssh-config/sshd_config
!web/resource/
!web/index.html

# ignore apt cacher ng
71-apt-cacher-ng

# ignore env files
#docker-inasafe/realtime-rest.env
#docker-inasafe/realtime-rest-dev.env
#docker-bnpb-sync/bnpb_credential.env
#docker-bmkg-sync/bmkg_credential.env
#docker-shakemaps-extracted-sync/btsync.env
#docker-shakemaps-corrected-extracted-sync/btsync.env
#docker-ashmaps-sync/btsync.env

# ignore buildfiles
.shakemonitor-id
realtime/ash/test/data/temp/
ansible/tmp/*
ansible/development/group_vars/all
site.retry

!ansible/tmp/.gitkeep
