.idea
venv 

# These are docker volumes whose content should not be under VCS
analysis_data
shakemaps
shakemaps-cache
shakemaps-extracted
web/resources
web
inasafe-src

# Ignore everything except the these files / subdirs in these dirs:
!analysis_data/README.txt
!shakemaps/README.txt
!shakemaps-cache/README.txt
!shakemaps-extracted/README.txt
!web/resources
!web/index.html
!inasafe-src/*

