# This is the Read Only BtSync key for Shakemaps extracted data
# Normally, we don't want to sync over 40 GBs of data for development
# So, keep this empty by default.
SECRET=
# Change it to easily identify your instance of btsync
DEVICE=InaSAFE-Realtime
