# This is a RO BtSync key to publish Shakemap exposure data used by analysis on this host. Get a readwrite key from Rizky or Tim
SECRET=BMRMQI2JSG72SUOWMLRY2LD4POCAQQDW3
# Change this device name to uniquely identify your instance of btsync
DEVICE=InaSAFE-Realtime
